<div class="row">
  <h1>Delete Your Campaign :(</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aliquid vitae eaque mollitia, commodi assumenda eveniet corporis similique amet architecto non expedita voluptatem totam! Aliquam culpa beatae iusto quaerat id.</p>
  <div class="row" style="display: inline-block; width: 50%">
    <a routerLink=""><button type="button" class="btn btn-danger">Permanently Delete this Campaign</button></a>
  </div>
  <div class="row" style="display: inline-block; width: 50%">
    <a routerLink="/startCampaign"><button type="button" class="btn btn-primary">I CHANGED MY MIND! Go back to Campaign</button></a>
  </div>
</div>
<br><br><br>
    