<!-- Add copyright and patent pending somewhere here -->
<!-- Look into what mobile functionality is needed here -->


<footer class="fixed-bottom">
  <nav class="navbar navbar-default" >
    <div class="container" style="text-align: center">
      <form class="navbar-form">
        <a routerLink="/startCampaign"><button type="button" class="btn btn-warning">Start a Campaign</button></a>
        <a routerLink="/snapshot"><button type="button" class="btn btn-primary">Find a Campaign</button></a>
      </form>
    </div>
    <div class="container">
      <div class="col-md-12 center-block align">
        <ul class="nav navbar-nav list-inline">
          <li><a routerLink="/howItWorks">What is Todah?</a></li>
          <li><a routerLink="/faq">FAQs</a></li>
          <li><a routerLink="/pricing">Pricing</a></li>
          <li><a routerLink="/snapshot">Spotlight</a></li>
          <li><a routerLink="/snapshot">Popular</a></li>
          <li><a routerLink="/snapshot">Recent</a></li>
          <li><a routerLink="/snapshot">Most Funded</a></li>
        </ul>
      </div>
    </div>
  </nav>
</footer>


