<footer class="fixed-bottom">
  <nav class="navbar navbar-default" >
    <div class="container" style="text-align: center">
      <form class="navbar-form">
        <button type="button" class="btn btn-default">Start a Campaign</button>
        <button type="button" class="btn btn-default">Find a Campaign</button>
      </form>
    </div>
    <div class="container">
      <div class="col-md-12 center-block align">
        <ul class="nav navbar-nav list-inline">
          <li><a href="#works">What is Todah?</a></li>
          <li><a href="#start">Start a Campaign</a></li>
          <li><a href="#faq">FAQs</a></li>
          <li><a href="#price">Pricing</a></li>
          <li><a href="#spotlight">Spotlight</a></li>
          <li><a href="#popular">Popular</a></li>
          <li><a href="#recent">Recent</a></li>
          <li><a href="#funded">Most Funded</a></li>
        </ul>
      </div>
     </div>
    </div>
  </nav>
</footer>


