<div class="container">
  <div class="row">
    <h1 style="text-align: center">Start Your Own Campaign!</h1>
    <h2 style="text-align: center">Create Your Campaign!</h2>
    <h3>Confirmation (3/3)</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aliquid vitae eaque mollitia, commodi assumenda eveniet corporis similique amet architecto non expedita voluptatem totam! Aliquam culpa beatae iusto quaerat id.</p>
    <div class="row" style="text-align: center">
      <div class="col-md-6">
        <!-- Takes either to WePay or SnipCart plugin -->
        <button type="button" class="btn btn-warning">PUBLISH YOUR CAMPAIGN!</button>
      </div>
      <div class="col-md-6">
        <a routerLink="/profile"><button type="button" class="btn btn-primary">Save for Later</button></a>
      </div>
      <div class="col-md-6">
        <!-- This button produces a modal of profile -->
        <button type="button" class="btn btn-default">Preview your Campaign!</button>
      </div>
      <div class="col-md-6">
        <a routerLink="/deleteCampaign"><button type="button" class="btn btn-danger">Delete this Fundraiser :(</button></a>
      </div>
    </div>
  </div>
</div>
<br><br><br>