<div class="container">
  <div class="row">
    <h1 style="text-align: center">Cancel your Payment :(</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aliquid vitae eaque mollitia, commodi assumenda eveniet corporis similique amet architecto non expedita voluptatem totam! Aliquam culpa beatae iusto quaerat id.</p>
    <div class="row" style="text-align: center">
      <div class="col-md-6">
        <a routerLink=""><button type="button" class="btn btn-danger">Cancel Payment</button></a>
      </div>
      <div class="col-md-6">
        <a routerLink="/startCampaign"><button type="button" class="btn btn-primary">I CHANGED MY MIND! Go back to Donate Page!</button></a>
      </div>
    </div>
  </div>
</div>
<br><br><br>