<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other Stuff <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/howItWorks">How it Works</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/pricing">Pricing</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <button type="button" class="btn btn-default">Start a Campaign</button>
        <button type="button" class="btn btn-default">Find a Campaign</button>
      </form>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#register">Register</a></li>
        <li><a href="#login">Login</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Campaign">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#animals"><i class="fas fa-paw fa-2x"></i> Animals</a></li>
            <li><a href="#ac"><i class="fas fa-paint-brush fa-2x"></i> Arts & Culture</a></li>
            <li><a href="#children"><i class="fas fa-child fa-2x"></i> Children & Youth</a></li>
            <li><a href="#disabilities"><i class="fas fa-universal-access fa-2x"></i> Disabilities</a></li>
            <li><a href="#relief"><i class="fas fa-ambulance fa-2x"></i> Disaster Relief</a></li>
            <li><a href="#economic"><i class="fas fa-dollar-sign fa-2x"></i> Economic Development</a></li>
            <li><a href="#environ"><i class="fas fa-leaf fa-2x"></i> Environment</a></li>
            <li><a href="#faith"><i class="fas fa-users fa-2x"></i> Faith</a></li>
            <li><a href="#women"><i class="fas fa-female fa-2x"></i> Girls & Women</a></li>
            <li><a href="#globe"><i class="fas fa-globe fa-2x"></i> Global Issues</a></li>
            <li><a href="#health"><i class="fas fa-heartbeat fa-2x"></i> Health</a></li>
            <li><a href="#poverty"><i class="fas fa-utensils fa-2x"></i> Poverty</a></li>
            <li><a href="#st"><i class="fas fa-flask fa-2x"></i> Science & Technology</a></li>
            <li><a href="#vets"><i class="fas fa-fighter-jet fa-2x"></i> Veterans</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>