<!-- Either use formspree or other contact form option -->


<div class="container">
  <div class="row">
    <h1 style="text-align: center">Contact Us!</h1>
    <div class="col-md-offset-1 col-md-8">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aliquid vitae eaque mollitia, commodi assumenda eveniet corporis similique amet architecto non expedita voluptatem totam! Aliquam culpa beatae iusto quaerat id. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="col-md-6">
        <div class="col-md-12">
          <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name">
        </div>
        <div class="col-md-12">
          <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email">
        </div>
      </div>
      <div class="col-md-6">
        <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Enter your message"></textarea>
      </div>
    </div>
    <div class="col-md-3">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor provident eos non delectus accusamus vero, sequi ad alias soluta itaque corporis ullam neque deleniti porro. Iure dolorum maxime aperiam perspiciatis.</p>
      <a routerLink="/howItWorks"><button type="button" class="btn btn-primary">How it Works!</button></a>
      <a routerLink="/faq"><button type="button" class="btn btn-default">Frequently Asked Questions</button></a>
    </div>
  </div>
</div>
<br><br><br>
    