<div class="row">
  <div style="text-align: center">
    <h1>Discover New Campaigns!</h1>
    <h5>***NUMBER*** Campaigns are Currently Active!</h5>
  </div>
  <div class="col-md-4">
    <h3>Search Campaigns</h3>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search Campaign">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div><br>
    <!-- Accordion to reveal categories -->
    <button type="button" class="btn btn-primary">Filter Campaigns</button>
    <ul>
      <li><a routerLink="/browseCategory"><i class="fas fa-paw fa-2x" data-fa-transform="shrink-3.5" data-fa-mask="fas fa-circle"></i> Animals (***Number***)</a></li>
      <li><a routerLink="/browseCategory"><i class="fas fa-paint-brush fa-2x" data-fa-transform="shrink-5.5" data-fa-mask="fas fa-circle"></i> Arts & Culture (***Number***)</a></li>
      <li><a routerLink="/browseCategory"><i class="fas fa-child fa-2x" data-fa-transform="shrink-3.5" data-fa-mask="fas fa-circle"></i> Children & Youth (***Number***)</a></li>
      <li><a routerLink="/browseCategory"><i class="fas fa-universal-access fa-2x"></i> Disabilities (***Number***)</a></li>
      <li><a routerLink="/browseCategory"><i class="fas fa-ambulance fa-2x" data-fa-transform="shrink-6.5" data-fa-mask="fas fa-circle"></i> Disaster Relief (***Number***)</a></li>
      <li><a routerLink="/browseCategory"><i class="fas fa-dollar-sign fa-2x" data-fa-transform="shrink-3.5" data-fa-mask="fas fa-circle"></i> Economic Development (***Number***)</a></li>
      <li><a routerLink="/browseCategory"><i class="fas fa-graduation-cap fa-2x" data-fa-transform="shrink-5.5" data-fa-mask="fas fa-circle"></i> Education (***Number***)</a></li>
      <li><a routerLink="/browseCategory"><i class="fas fa-leaf fa-2x" data-fa-transform="shrink-5.5" data-fa-mask="fas fa-circle"></i> Environment (***Number***)</a></li>
      <li><a routerLink="/browseCategory"><i class="fas fa-users fa-2x" data-fa-transform="shrink-5.5" data-fa-mask="fas fa-circle"></i> Faith (***Number***)</a></li>
      <li><a routerLink="/browseCategory"><i class="fas fa-female fa-2x" data-fa-transform="shrink-3.5" data-fa-mask="fas fa-circle"></i> Girls & Women (***Number***)</a></li>
      <li><a routerLink="/browseCategory"><i class="fas fa-globe fa-2x"></i> Global Issues (***Number***)</a></li>
      <li><a routerLink="/browseCategory"><i class="fas fa-heartbeat fa-2x" data-fa-transform="shrink-5.5" data-fa-mask="fas fa-circle"></i> Health (***Number***)</a></li>
      <li><a routerLink="/browseCategory"><i class="fas fa-utensils fa-2x" data-fa-transform="shrink-5.5" data-fa-mask="fas fa-circle"></i> Poverty (***Number***)</a></li>
      <li><a routerLink="/browseCategory"><i class="fas fa-flask fa-2x" data-fa-transform="shrink-5.5" data-fa-mask="fas fa-circle"></i> Science & Technology (***Number***)</a></li>
      <li><a routerLink="/browseCategory"><i class="fas fa-fighter-jet fa-2x" data-fa-transform="shrink-5.5" data-fa-mask="fas fa-circle"></i> Veterans (***Number***)</a></li>
    </ul>
  </div>
  <div class="col-md-8">
    <div class="col-md-12">
      <h3>Active Campaigns (***Number***)</h3>
      <p>Cards Here (Active)</p>
    </div>
    <div class="col-md-12">
      <h3>Completed Campaigns (***Number***)</h3>
      <p>Cards Here (Completed)</p>
    </div>
  </div>
</div><br>