<div class="row">
  <h1>Start Your Own Campaign (Personal Cause)!</h1>
  <h2>Create Your Campaign!</h2>
  <h3>Basic Information (1/3)</h3>
  <div class="col-md-8">
    <p>Form Here.</p>
    <hr>
    <div style="display: inline-block; width: 33%">
      <a routerLink="/startCampaign-personalCause-form2"><button type="button" class="btn btn-warning">Save and Go to Next Step!</button></a>
    </div>
    <div class="row" style="display: inline-block; width: 33%">
      <a routerLink=""><button type="button" class="btn btn-primary">Save for Later</button></a>
    </div>
    <div class="row" style="display: inline-block; width: 33%">
      <a routerLink="/deleteCampaign"><button type="button" class="btn btn-danger">Delete this Fundraiser :(</button></a>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Preview of your Campaign</h3>
    <p>Card Preview Here.</p>
    <!-- This button produces a modal of profile -->
    <button type="button" class="btn btn-default">Preview your Campaign!</button>
  </div>
</div>
<br><br><br>
