<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br><br>
      <img src="../assets/jumbo.jpeg" style="max-width: 30em">
    </div>
    <div class="col-md-6" style="max-width: 100%">
      <!-- Not published, active campaign, or completed campaign -->
      <h5 style="text-align: center">***Status of Campaign***</h5>
      <h6>Title:</h6>
      <p>***Name of Campaign***</p>
      <br>
      <h6>By:</h6>
      <p>***Creator of Campaign***</p>
      <br>
      <h6>Teaser:</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum possimus, at perferendis eaque iste sunt impedit aspernatur sed asperiores dolor fuga, voluptatum modi minus expedita, beatae reprehenderit. Corrupti, deserunt officiis.</p>
      <br>
      <p>***Number*** Comments | ***Number*** Views</p>
    </div>
  </div>
</div>