<!-- Customizable -->

<!-- The envelopes need to be customizable into a different icon at compaigner's choice through the profile page. -->

<!-- The idea here is to include envelopes going up sequentially in each section, where, on click, they are able to take you to donate page with that amount autofilled in the field for payment. -->

<nav class="navbar navbar-default"> 
  <div class="container">
    <div class="navbar-header">
      <h5><i class="fas fa-paw fa-3x" data-fa-transform="shrink-3.5" data-fa-mask="fas fa-circle"></i> ***Category***</h5>
    </div>
    <!-- Not mobile friendly.  Still needs work -->
    <div class="nav navbar-nav" style="position: absolute; left: 40%">
      <h3>***Campaign Title***</h3>
    </div>
    <div class="nav navbar-nav navbar-right">
      <a>Hosted by Todah</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">

    <!-- Donation Accordion -->
    <div class="col-md-8">
      <nav class="navbar navbar-default"> 
        <div class="container">
          <div class="navbar-header">
            <h4>Please Select Your Desired Giving Range!</h4>
          </div>
        </div>
      </nav>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <div class="panel-heading" role="tab" id="headingOne" style="background: #e3e3e3">
                <h4 class="panel-title">$101 - $150</h4>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
                    5%
                  </div>
                </div>
              </div>
            </a>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <a routerLink="/donate">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="panel-heading" role="tab" id="headingTwo" style="background: #e3e3e3">
              <h4 class="panel-title">$51 - $100</h4>
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                  100%
                </div>
              </div>
            </div>
          </a>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <a routerLink="/donate">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div class="panel-heading" role="tab" id="headingThree" style="background: #e3e3e3">
              <h4 class="panel-title">$26 - $50</h4>
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                  30%
                </div>
              </div>
            </div>
          </a>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <a routerLink="/donate">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <div class="panel-heading" role="tab" id="headingFour" style="background: #e3e3e3">
              <h4 class="panel-title">$11 - $25</h4>
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 15%;">
                  15%
                </div>
              </div>
            </div>
          </a>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <a routerLink="/donate">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <div class="panel-heading" role="tab" id="headingFive" style="background: #e3e3e3">
              <h4 class="panel-title">$1 - $10</h4>
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  60%
                </div>
              </div>
            </div>
          </a>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <a routerLink="/donate">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Campaign Info -->
    <div class="col-md-4">
      <div>
        <img src="../../assets/jumbo.jpeg" style="max-width: 100%;  border-radius: 0.25em 0.25em 0 0">
      </div>
      <div>
        <h3>Campaign Goal:</h3>
        <h3>$6,000 of $10,000</h3><br>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            60%
          </div>
        </div>
        <a routerLink="/campaignPage"><button type="button" class="btn btn-primary">Go to Campaign Page</button></a>
      </div>
    </div>
  </div>
</div>