<div class="container">
  <div class="row">
    <h1 style="text-align: center">How to Succeed!</h1>
    <!-- Success video here -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aliquid vitae eaque mollitia, commodi assumenda eveniet corporis similique amet architecto non expedita voluptatem totam! Aliquam culpa beatae iusto quaerat id. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium cumque quo quasi sit laboriosam architecto quaerat reprehenderit commodi facere quas? Illum, quis delectus dolorem corporis nostrum doloremque quaerat commodi. Adipisci. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione facilis labore quibusdam explicabo quae aliquid mollitia repellat, in delectus autem minus architecto rerum eveniet, beatae corrupti esse consequuntur quos vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, a deleniti. Recusandae maiores et in laborum quo praesentium possimus cum repudiandae? Similique sequi adipisci aperiam dolorem provident a voluptas! Quasi!</p>
    <div class="col-md-4" style="text-align: center">
      <a routerLink="/howItWorks"><button type="button" class="btn btn-primary">How it Works</button></a>
    </div>
    <div class="col-md-4" style="text-align: center">
      <a routerLink="/faq"><button type="button" class="btn btn-default">Frequently Asked Questions</button></a>
    </div>
    <div class="col-md-4" style="text-align: center">
      <a routerLink="/startCampaign"><button type="button" class="btn btn-warning">Start Your Campaign!</button></a>
    </div>
  </div>
</div>
<br><br><br>
    