<!-- If this is accessed without auth admin privileges, deny access -->
<!-- If logged in as admin, maybe provide button to access admin without having to type /admin into url field -->


<div class="container-fluid">
  <div class="row">
    <h1 style="text-align: center">Todah Administration</h1>
    <h3 style="text-align: center">Select your ***Item***</h3>
    <div class="col-md-12">
      <table id="adminList" class="table table-hover table-bordered table-striped table-condensed">
        <thead>
          <tr class="info">
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
            <th>Company</th>
            <th>Age</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a routerLink="">Nathan</a></td>
            <td><a routerLink="">nathan@gmail.com</a></td>
            <td><a routerLink="">111.111.1111</a></td>
            <td><a routerLink="">Google</a></td>
            <td><a routerLink="">22</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Aaron</a></td>
            <td><a routerLink="">aaron@gmail.com</a></td>
            <td><a routerLink="">222.222.2222</a></td>
            <td><a routerLink="">Amazon</a></td>
            <td><a routerLink="">32</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Bill</a></td>
            <td><a routerLink="">bill@gmail.com</a></td>
            <td><a routerLink="">333.333.3333</a></td>
            <td><a routerLink="">Pilot</a></td>
            <td><a routerLink="">43</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Ted</a></td>
            <td><a routerLink="">ted@gmail.com</a></td>
            <td><a routerLink="">444.444.4444</a></td>
            <td><a routerLink="">Walmart</a></td>
            <td><a routerLink="">20</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Andrew</a></td>
            <td><a routerLink="">andrew@gmail.com</a></td>
            <td><a routerLink="">555.555.5555</a></td>
            <td><a routerLink="">Target</a></td>
            <td><a routerLink="">40</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Candice</a></td>
            <td><a routerLink="">candice@gmail.com</a></td>
            <td><a routerLink="">666.666.6666</a></td>
            <td><a routerLink="">Kroger</a></td>
            <td><a routerLink="">35</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Hannah</a></td>
            <td><a routerLink="">hannah@gmail.com</a></td>
            <td><a routerLink="">777.777.7777</a></td>
            <td><a routerLink="">Safeway</a></td>
            <td><a routerLink="">90</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Drew</a></td>
            <td><a routerLink="">drew@gmail.com</a></td>
            <td><a routerLink="">888.888.8888</a></td>
            <td><a routerLink="">Subway</a></td>
            <td><a routerLink="">27</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Amy</a></td>
            <td><a routerLink="">amy@gmail.com</a></td>
            <td><a routerLink="">999.999.9999</a></td>
            <td><a routerLink="">Chipotle</a></td>
            <td><a routerLink="">24</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Joe</a></td>
            <td><a routerLink="">joe@gmail.com</a></td>
            <td><a routerLink="">000.000.0000</a></td>
            <td><a routerLink="">MacDonalds</a></td>
            <td><a routerLink="">51</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Ben</a></td>
            <td><a routerLink="">ben@gmail.com</a></td>
            <td><a routerLink="">122.122.1212</a></td>
            <td><a routerLink="">Arby's</a></td>
            <td><a routerLink="">26</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Kristen</a></td>
            <td><a routerLink="">kristen@gmail.com</a></td>
            <td><a routerLink="">233.233.2323</a></td>
            <td><a routerLink="">Steak 'n Shake</a></td>
            <td><a routerLink="">42</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Abbie</a></td>
            <td><a routerLink="">abbie@gmail.com</a></td>
            <td><a routerLink="">344.344.3434</a></td>
            <td><a routerLink="">Verde</a></td>
            <td><a routerLink="">18</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Emily</a></td>
            <td><a routerLink="">emily@gmail.com</a></td>
            <td><a routerLink="">455.455.4545</a></td>
            <td><a routerLink="">Five Guys</a></td>
            <td><a routerLink="">41</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Stephen</a></td>
            <td><a routerLink="">stephen@gmail.com</a></td>
            <td><a routerLink="">566.566.5656</a></td>
            <td><a routerLink="">Home Depot</a></td>
            <td><a routerLink="">38</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Kenn</a></td>
            <td><a routerLink="">kenn@gmail.com</a></td>
            <td><a routerLink="">677.677.6767</a></td>
            <td><a routerLink="">Lowes</a></td>
            <td><a routerLink="">35</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Paul</a></td>
            <td><a routerLink="">paul@gmail.com</a></td>
            <td><a routerLink="">788.788.7878</a></td>
            <td><a routerLink="">Trader Joe's</a></td>
            <td><a routerLink="">25</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Robin</a></td>
            <td><a routerLink="">robin@gmail.com</a></td>
            <td><a routerLink="">899.899.8989</a></td>
            <td><a routerLink="">Udemy</a></td>
            <td><a routerLink="">30</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Jenn</a></td>
            <td><a routerLink="">jenn@gmail.com</a></td>
            <td><a routerLink="">900.900.9090</a></td>
            <td><a routerLink="">Pluralsite</a></td>
            <td><a routerLink="">29</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">John</a></td>
            <td><a routerLink="">john@gmail.com</a></td>
            <td><a routerLink="">099.099.0909</a></td>
            <td><a routerLink="">Codecademy</a></td>
            <td><a routerLink="">32</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Quincy</a></td>
            <td><a routerLink="">quincy@gmail.com</a></td>
            <td><a routerLink="">988.988.9898</a></td>
            <td><a routerLink="">Free Code Camp</a></td>
            <td><a routerLink="">43</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Jay</a></td>
            <td><a routerLink="">jay@gmail.com</a></td>
            <td><a routerLink="">877.877.8787</a></td>
            <td><a routerLink="">Eleven Fifty Academy</a></td>
            <td><a routerLink="">56</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Rose</a></td>
            <td><a routerLink="">rose@gmail.com</a></td>
            <td><a routerLink="">766.766.7676</a></td>
            <td><a routerLink="">Jobvite</a></td>
            <td><a routerLink="">63</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Seamus</a></td>
            <td><a routerLink="">seamus@gmail.com</a></td>
            <td><a routerLink="">655.655.6565</a></td>
            <td><a routerLink="">SYG</a></td>
            <td><a routerLink="">26</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Ron</a></td>
            <td><a routerLink="">ron@gmail.com</a></td>
            <td><a routerLink="">544.544.5454</a></td>
            <td><a routerLink="">SEP</a></td>
            <td><a routerLink="">19</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Tara</a></td>
            <td><a routerLink="">tara@gmail.com</a></td>
            <td><a routerLink="">433.433.4343</a></td>
            <td><a routerLink="">SalesForce</a></td>
            <td><a routerLink="">22</a></td>
            <td><a routerLink="">USA</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>