<!-- If this is accessed without auth admin privileges, deny access -->
<!-- If logged in as admin, maybe provide button to access admin without having to type /admin into url field -->


<div class="container-fluid">
  <div class="row">
    <h1 style="text-align: center">Todah Administration</h1>
    <h3 style="text-align: center">Select your ***Item***</h3>
    <div class="col-md-12">
      <table id="adminList" class="table table-hover table-bordered table-striped table-condensed">
        <thead>
          <tr class="info">
            <th>***Col 1***</th>
            <th>***Col 2***</th>
            <th>***Col 3***</th>
            <th>***Col 4***</th>
            <th>***Col 5***</th>
            <th>***Col 6***</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a routerLink="">Item 1A</a></td>
            <td><a routerLink="">Item 2A</a></td>
            <td><a routerLink="">Item 3A</a></td>
            <td><a routerLink="">Item 4A</a></td>
            <td><a routerLink="">Item 5A</a></td>
            <td><a routerLink="">Item 6A</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1B</a></td>
            <td><a routerLink="">Item 2B</a></td>
            <td><a routerLink="">Item 3B</a></td>
            <td><a routerLink="">Item 4B</a></td>
            <td><a routerLink="">Item 5B</a></td>
            <td><a routerLink="">Item 6B</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1C</a></td>
            <td><a routerLink="">Item 2C</a></td>
            <td><a routerLink="">Item 3C</a></td>
            <td><a routerLink="">Item 4C</a></td>
            <td><a routerLink="">Item 5C</a></td>
            <td><a routerLink="">Item 6C</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1D</a></td>
            <td><a routerLink="">Item 2D</a></td>
            <td><a routerLink="">Item 3D</a></td>
            <td><a routerLink="">Item 4D</a></td>
            <td><a routerLink="">Item 5D</a></td>
            <td><a routerLink="">Item 6D</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1E</a></td>
            <td><a routerLink="">Item 2E</a></td>
            <td><a routerLink="">Item 3E</a></td>
            <td><a routerLink="">Item 4E</a></td>
            <td><a routerLink="">Item 5E</a></td>
            <td><a routerLink="">Item 6E</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1F</a></td>
            <td><a routerLink="">Item 2F</a></td>
            <td><a routerLink="">Item 3F</a></td>
            <td><a routerLink="">Item 4F</a></td>
            <td><a routerLink="">Item 5F</a></td>
            <td><a routerLink="">Item 6F</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1G</a></td>
            <td><a routerLink="">Item 2G</a></td>
            <td><a routerLink="">Item 3G</a></td>
            <td><a routerLink="">Item 4G</a></td>
            <td><a routerLink="">Item 5G</a></td>
            <td><a routerLink="">Item 6G</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1H</a></td>
            <td><a routerLink="">Item 2H</a></td>
            <td><a routerLink="">Item 3H</a></td>
            <td><a routerLink="">Item 4H</a></td>
            <td><a routerLink="">Item 5H</a></td>
            <td><a routerLink="">Item 6H</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1I</a></td>
            <td><a routerLink="">Item 2I</a></td>
            <td><a routerLink="">Item 3I</a></td>
            <td><a routerLink="">Item 4I</a></td>
            <td><a routerLink="">Item 5I</a></td>
            <td><a routerLink="">Item 6I</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1J</a></td>
            <td><a routerLink="">Item 2J</a></td>
            <td><a routerLink="">Item 3J</a></td>
            <td><a routerLink="">Item 4J</a></td>
            <td><a routerLink="">Item 5J</a></td>
            <td><a routerLink="">Item 6J</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1K</a></td>
            <td><a routerLink="">Item 2K</a></td>
            <td><a routerLink="">Item 3K</a></td>
            <td><a routerLink="">Item 4K</a></td>
            <td><a routerLink="">Item 5K</a></td>
            <td><a routerLink="">Item 6K</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1L</a></td>
            <td><a routerLink="">Item 2L</a></td>
            <td><a routerLink="">Item 3L</a></td>
            <td><a routerLink="">Item 4L</a></td>
            <td><a routerLink="">Item 5L</a></td>
            <td><a routerLink="">Item 6L</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1M</a></td>
            <td><a routerLink="">Item 2M</a></td>
            <td><a routerLink="">Item 3M</a></td>
            <td><a routerLink="">Item 4M</a></td>
            <td><a routerLink="">Item 5M</a></td>
            <td><a routerLink="">Item 6M</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1N</a></td>
            <td><a routerLink="">Item 2N</a></td>
            <td><a routerLink="">Item 3N</a></td>
            <td><a routerLink="">Item 4N</a></td>
            <td><a routerLink="">Item 5N</a></td>
            <td><a routerLink="">Item 6N</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1O</a></td>
            <td><a routerLink="">Item 2O</a></td>
            <td><a routerLink="">Item 3O</a></td>
            <td><a routerLink="">Item 4O</a></td>
            <td><a routerLink="">Item 5O</a></td>
            <td><a routerLink="">Item 6O</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1P</a></td>
            <td><a routerLink="">Item 2P</a></td>
            <td><a routerLink="">Item 3P</a></td>
            <td><a routerLink="">Item 4P</a></td>
            <td><a routerLink="">Item 5P</a></td>
            <td><a routerLink="">Item 6P</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1Q</a></td>
            <td><a routerLink="">Item 2Q</a></td>
            <td><a routerLink="">Item 3Q</a></td>
            <td><a routerLink="">Item 4Q</a></td>
            <td><a routerLink="">Item 5Q</a></td>
            <td><a routerLink="">Item 6Q</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1R</a></td>
            <td><a routerLink="">Item 2R</a></td>
            <td><a routerLink="">Item 3R</a></td>
            <td><a routerLink="">Item 4R</a></td>
            <td><a routerLink="">Item 5R</a></td>
            <td><a routerLink="">Item 6R</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1S</a></td>
            <td><a routerLink="">Item 2S</a></td>
            <td><a routerLink="">Item 3S</a></td>
            <td><a routerLink="">Item 4S</a></td>
            <td><a routerLink="">Item 5S</a></td>
            <td><a routerLink="">Item 6S</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1T</a></td>
            <td><a routerLink="">Item 2T</a></td>
            <td><a routerLink="">Item 3T</a></td>
            <td><a routerLink="">Item 4T</a></td>
            <td><a routerLink="">Item 5T</a></td>
            <td><a routerLink="">Item 6T</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1U</a></td>
            <td><a routerLink="">Item 2U</a></td>
            <td><a routerLink="">Item 3U</a></td>
            <td><a routerLink="">Item 4U</a></td>
            <td><a routerLink="">Item 5U</a></td>
            <td><a routerLink="">Item 6U</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1V</a></td>
            <td><a routerLink="">Item 2V</a></td>
            <td><a routerLink="">Item 3V</a></td>
            <td><a routerLink="">Item 4V</a></td>
            <td><a routerLink="">Item 5V</a></td>
            <td><a routerLink="">Item 6V</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1W</a></td>
            <td><a routerLink="">Item 2W</a></td>
            <td><a routerLink="">Item 3W</a></td>
            <td><a routerLink="">Item 4W</a></td>
            <td><a routerLink="">Item 5W</a></td>
            <td><a routerLink="">Item 6W</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1X</a></td>
            <td><a routerLink="">Item 2X</a></td>
            <td><a routerLink="">Item 3X</a></td>
            <td><a routerLink="">Item 4X</a></td>
            <td><a routerLink="">Item 5X</a></td>
            <td><a routerLink="">Item 6X</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1Y</a></td>
            <td><a routerLink="">Item 2Y</a></td>
            <td><a routerLink="">Item 3Y</a></td>
            <td><a routerLink="">Item 4Y</a></td>
            <td><a routerLink="">Item 5Y</a></td>
            <td><a routerLink="">Item 6Y</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1Z</a></td>
            <td><a routerLink="">Item 2Z</a></td>
            <td><a routerLink="">Item 3Z</a></td>
            <td><a routerLink="">Item 4Z</a></td>
            <td><a routerLink="">Item 5Z</a></td>
            <td><a routerLink="">Item 6Z</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>