<!-- If this is accessed without auth admin privileges, deny access -->
<!-- If logged in as admin, maybe provide button to access admin without having to type /admin into url field -->


<div class="container">
  <div class="row">
    <h1 style="text-align: center">Todah Administration</h1>
    <div class="col-md-offset-1 col-md-8">
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>Accounts</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="">User Accounts</a></td></tr>
        </tbody>
      </table>
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>Authentication and Authorization</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="">Groups</a></td></tr>
        </tbody>
      </table>
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>Campaign</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="">Campaign Goal Ranges</a></td></tr>
          <tr><td><a routerLink="">Campaigns</a></td></tr>
          <tr><td><a routerLink="">Donation Notifications</a></td></tr>
          <tr><td><a routerLink="">Fundraiser Categories</a></td></tr>
          <tr><td><a routerLink="">Paypal Responses</a></td></tr>
          <tr><td><a routerLink="">Thank you Messages</a></td></tr>
        </tbody>
      </table>
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>Contact</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="">Contact Requests</a></td></tr>
          <tr><td><a routerLink="">Email Opt in Requests</a></td></tr>
        </tbody>
      </table>
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>DJ Celery</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="">Crontabs</a></td></tr>
          <tr><td><a routerLink="">Intervals</a></td></tr>
          <tr><td><a routerLink="">Periodic Tasks</a></td></tr>
          <tr><td><a routerLink="">Tasks</a></td></tr>
          <tr><td><a routerLink="">Workers</a></td></tr>
        </tbody>
      </table>
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>Feedback</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="">Feedbacks</a></td></tr>
        </tbody>
      </table>
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>Todah</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="">About Us Mission Items</a></td></tr>
          <tr><td><a routerLink="">About Us Team Items</a></td></tr>
          <tr><td><a routerLink="">Campaign Completed Items</a></td></tr>
          <tr><td><a routerLink="">Deductibility Statuses</a></td></tr>
          <tr><td><a routerLink="">Develop a Game Items</a></td></tr>
          <tr><td><a routerLink="">FAQ Items</a></td></tr>
          <tr><td><a routerLink="">Footer Copy Items</a></td></tr>
          <tr><td><a routerLink="">Footer Left Copy Items</a></td></tr>
          <tr><td><a routerLink="">Fundraiser Step Two Copy Items</a></td></tr>
          <tr><td><a routerLink="">Homepage Learn More Items</a></td></tr>
          <tr><td><a routerLink="">Homepage Main Slider Items</a></td></tr>
          <tr><td><a routerLink="">How it Works Items</a></td></tr>
          <tr><td><a routerLink="">How to Succeed Items</a></td></tr>
          <tr><td><a routerLink="">Non-Profits</a></td></tr>
          <tr><td><a routerLink="">Pricing Items</a></td></tr>
          <tr><td><a routerLink="">Privacy Policy Items</a></td></tr>
          <tr><td><a routerLink="">Start Fundraiser Learn More Items</a></td></tr>
          <tr><td><a routerLink="">Start Fundraiser Main Text Items</a></td></tr>
          <tr><td><a routerLink="">Start FUndraiser Small Text Items</a></td></tr>
          <tr><td><a routerLink="">Terms of Use Items</a></td></tr>
          <tr><td><a routerLink="">WePay Errors</a></td></tr>
        </tbody>
      </table>
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>Python Social Auth</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="">Associations</a></td></tr>
          <tr><td><a routerLink="">Nonces</a></td></tr>
          <tr><td><a routerLink="">User Social Auths</a></td></tr>
        </tbody>
      </table>
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>Sent Email</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="">Sent Email</a></td></tr>
        </tbody>
      </table>
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>Site Options</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="">Site Options</a></td></tr>
        </tbody>
      </table>
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>Sites</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="">Sites</a></td></tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table table-hover table-bordered table-striped table-condensed">
        <thead>
          <tr class="info"><th>Recent Actions</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Example 1</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Example 2</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Example 3</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Example 4</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Example 5</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Example 6</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Example 7</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Example 8</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Example 9</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Example 10</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>