<div class="row">
  <div style="text-align: center">
    <h1>Discover New Campaigns!</h1>
    <h5>***NUMBER*** Active Campaigns are Fundraising for ***Category***!</h5>
  </div><br>
  <div class="col-md-4">
    <h3><i class="fas fa-paw fa-3x" data-fa-transform="shrink-3.5" data-fa-mask="fas fa-circle"></i> ***Category***</h3>
  </div>
  <div class="col-md-8">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search Campaign">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div>
  </div>
  <div class="col-md-offset-2 col-md-8">
    <div class="col-md-12">
      <h3>Active Campaigns (***Number***)</h3>
      <p>Cards Here (Active)</p>
    </div>
    <div class="col-md-12">
      <h3>Completed Campaigns (***Number***)</h3>
      <p>Cards Here (Completed)</p>
    </div>
  </div>
</div><br>