<div class="row">
  <h1>
    Start Your Own Campaign (Non-Profit)!
  </h1>
  <h2>Create Your Campaign!</h2>
  <h3>Contribution Information (2/3)</h3>
  <div class="col-md-8">
    <p>Form Here.</p>
    <!-- Modal of slider information -->
    <button type="button" class="btn btn-default">How do these Sliders Work?</button>
    <p>Sliders Here</p>
    <hr>
    <div style="display: inline-block; width: 33%">
      <a routerLink="/startCampaign/nonprofit/confirmation"><button type="button" class="btn btn-warning">LAUNCH YOUR CAMPAIGN!</button></a>
    </div>
    <div class="row" style="display: inline-block; width: 33%">
      <a routerLink=""><button type="button" class="btn btn-primary">Save for Later</button></a>
    </div>
    <div class="row" style="display: inline-block; width: 33%">
      <a routerLink=""><button type="button" class="btn btn-danger">Delete this Fundraiser :(</button></a>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Let Us Do the Math!</h3>
    <p>Calculator Here.</p>
    <a routerLink="/startCampaign/nonprofit/confirmation"><button type="button" class="btn btn-warning">LAUNCH YOUR CAMPAIGN!</button></a><br>
    <a routerLink=""><button type="button" class="btn btn-primary">Save for Later</button></a><br>
    <!-- This button produces a modal of profile -->
    <button type="button" class="btn btn-default">Preview your Campaign!</button>
  </div>
</div>
<br><br><br>
  