<!-- If this is accessed without auth admin privileges, deny access -->
<!-- If logged in as admin, maybe provide button to access admin without having to type /admin into url field -->


<div class="container">
  <div class="row">
    <h1 style="text-align: center">Todah Administration</h1>
    <div class="col-md-offset-1 col-md-8">
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>Accounts</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="/adminList">User Accounts</a></td></tr>
        </tbody>
      </table>
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>Campaign</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="/adminList">Campaign Goal Ranges</a></td></tr>
          <tr><td><a routerLink="/adminList">Campaigns</a></td></tr>
          <tr><td><a routerLink="/adminList">Donation Notifications</a></td></tr>
          <tr><td><a routerLink="/adminList">Fundraiser Categories</a></td></tr>
          <tr><td><a routerLink="/adminList">Thank you Messages</a></td></tr>
        </tbody>
      </table>
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>Contact</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="/adminList">Contact Requests</a></td></tr>
          <tr><td><a routerLink="/adminList">Email Opt in Requests</a></td></tr>
        </tbody>
      </table>
      <!-- <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>Feedback</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="">Feedbacks</a></td></tr>
        </tbody>
      </table> -->
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>Todah</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="/adminList">About Us Mission Items</a></td></tr>
          <tr><td><a routerLink="/adminList">About Us Team Items</a></td></tr>
          <tr><td><a routerLink="/adminList">Campaign Completed Items</a></td></tr>
          <tr><td><a routerLink="/adminList">Deductibility Statuses</a></td></tr>
          <tr><td><a routerLink="/adminList">Develop a Game Items</a></td></tr>
          <tr><td><a routerLink="/adminList">FAQ Items</a></td></tr>
          <tr><td><a routerLink="/adminList">Footer Copy Items</a></td></tr>
          <tr><td><a routerLink="/adminList">Footer Left Copy Items</a></td></tr>
          <tr><td><a routerLink="/adminList">Fundraiser Step Two Copy Items</a></td></tr>
          <tr><td><a routerLink="/adminList">Homepage Learn More Items</a></td></tr>
          <tr><td><a routerLink="/adminList">Homepage Main Slider Items</a></td></tr>
          <tr><td><a routerLink="/adminList">How it Works Items</a></td></tr>
          <tr><td><a routerLink="/adminList">How to Succeed Items</a></td></tr>
          <tr><td><a routerLink="/adminList">Non-Profit Items</a></td></tr>
          <tr><td><a routerLink="/adminList">Pricing Items</a></td></tr>
          <tr><td><a routerLink="/adminList">Privacy Policy Items</a></td></tr>
          <tr><td><a routerLink="/adminList">Start Campaign Learn More Items</a></td></tr>
          <tr><td><a routerLink="/adminList">Start Campaign Main Text Items</a></td></tr>
          <tr><td><a routerLink="/adminList">Start Campaign Small Text Items</a></td></tr>
          <tr><td><a routerLink="/adminList">Terms of Use Items</a></td></tr>
          <!-- <tr><td><a routerLink="">WePay Errors</a></td></tr> -->
        </tbody>
      </table>
      <!-- <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>Python Social Auth</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="/adminList">Associations</a></td></tr>
          <tr><td><a routerLink="/adminList">Nonces</a></td></tr>
          <tr><td><a routerLink="/adminList">User Social Auths</a></td></tr>
        </tbody>
      </table> -->
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>Sent Email</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="/adminList">Sent Email</a></td></tr>
        </tbody>
      </table>
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr class="info"><th>Sites</th></tr>
        </thead>
        <tbody>
          <tr><td><a routerLink="/adminList">Sites</a></td></tr>
        </tbody>
      </table>
    </div>

    <!-- List of 10 most-recent actions by admin.  This will provide direct access to recent activities -->
    <div class="col-md-3">
      <table class="table table-hover table-bordered table-striped table-condensed">
        <thead>
          <tr class="info"><th>Recent Actions</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Example 1</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Example 2</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Example 3</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Example 4</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Example 5</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Example 6</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Example 7</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Example 8</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Example 9</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Example 10</p>
              <p style="font-size: 8pt">Campaign</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>