<!-- If this is accessed without auth admin privileges, deny access -->
<!-- If logged in as admin, maybe provide button to access admin without having to type /admin into url field -->



<div class="container-fluid">
  <div class="row">
    <h1 style="text-align: center">Todah Administration</h1>
    <h3 style="text-align: center">Select your ***Item***</h3>
    <div class="col-md-12">
      <table class="table table-hover table-bordered table-striped table-condensed">
        <thead>
          <tr class="info">
            <th colspan="10">
              <div class="col-md-8">
                <form class="navbar-form">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search ***Item***" style="border-radius: 5em 0 0 5em">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="button" style="border-radius: 0 5em 5em 0">Search</button>
                    </span>
                  </div>
                </form>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-primary" style="float: right; border-radius: 5em"><i class="fas fa-plus"></i> Add New ***Item***</button>
              </div>
            </th>
          </tr>
        </thead>
        <thead>
          <tr class="info">
            <th>***Col 1***</th>
            <th>***Col 2***</th>
            <th>***Col 3***</th>
            <th>***Col 4***</th>
            <th>***Col 5***</th>
            <th>***Col 6***</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a routerLink="">Item 1A</a></td>
            <td><a routerLink="">Item 2A</a></td>
            <td><a routerLink="">Item 3A</a></td>
            <td><a routerLink="">Item 4A</a></td>
            <td><a routerLink="">Item 5A</a></td>
            <td><a routerLink="">Item 6A</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1B</a></td>
            <td><a routerLink="">Item 2B</a></td>
            <td><a routerLink="">Item 3B</a></td>
            <td><a routerLink="">Item 4B</a></td>
            <td><a routerLink="">Item 5B</a></td>
            <td><a routerLink="">Item 6B</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1C</a></td>
            <td><a routerLink="">Item 2C</a></td>
            <td><a routerLink="">Item 3C</a></td>
            <td><a routerLink="">Item 4C</a></td>
            <td><a routerLink="">Item 5C</a></td>
            <td><a routerLink="">Item 6C</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1D</a></td>
            <td><a routerLink="">Item 2D</a></td>
            <td><a routerLink="">Item 3D</a></td>
            <td><a routerLink="">Item 4D</a></td>
            <td><a routerLink="">Item 5D</a></td>
            <td><a routerLink="">Item 6D</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1E</a></td>
            <td><a routerLink="">Item 2E</a></td>
            <td><a routerLink="">Item 3E</a></td>
            <td><a routerLink="">Item 4E</a></td>
            <td><a routerLink="">Item 5E</a></td>
            <td><a routerLink="">Item 6E</a></td>
          </tr>
          <tr>
            <td><a routerLink="">Item 1F</a></td>
            <td><a routerLink="">Item 2F</a></td>
            <td><a routerLink="">Item 3F</a></td>
            <td><a routerLink="">Item 4F</a></td>
            <td><a routerLink="">Item 5F</a></td>
            <td><a routerLink="">Item 6F</a></td>
          </tr>
        </tbody>

        <!-- Pagination to show only if length exceeds 25 or so rows -->
        <!-- Pagination currently not working -->
        <thead>
          <tr class="info">
            <th colspan="10">
              <ul class="pagination pagination-sm">
                <li class="disabled">
                  <span style="border-radius: 5em 0 0 5em">
                    <span aria-hidden="true">&laquo;</span>
                  </span>
                </li>
                <li class="active">
                  <span>1<span aria-hidden="sr-only"></span></span>
                </li>
                <li>
                  <span>2<span aria-hidden="sr-only"></span></span>
                </li>
                <li>
                  <span>3<span aria-hidden="sr-only"></span></span>
                </li>
                <li>
                  <span>4<span aria-hidden="sr-only"></span></span>
                </li>
                <li>
                  <span>5<span aria-hidden="sr-only"></span></span>
                </li>
                <li>
                  <span style="border-radius: 0 5em 5em 0">
                    <span aria-hidden="true">&raquo;</span>
                  </span>
                </li>
              </ul>
            </th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>